{% extends "base.html.twig" %}


{% block body %}

<form method="POST" action="{{ path('app_student_post') }}">
    <input type="text" name="firstname" placeholder="Prénom">
    <input type="text" name="lastname" placeholder="Nom">
    <input type="email" name="email" placeholder="Email">
    <input type="submit" value="Enregistrer">
</form>

{% endblock %}
