{% extends "base.html.twig" %}


{% block body %}

{{ form_start(form) }}

    <section class="lang">
    {{ form_row(form.lang) }}
    </section>

    <section id="proverb_body">
    {{ form_row(form.body) }}
    </section>

{{ form_end(form) }}

{% endblock %}