{% set title = "Démo 10" %}
<h1>{{ title }}</h1>

<p>Lorem Elsass ipsum so Chulien hoplageiss vulputate Verdammi turpis Salut bisamme Mauris DNA, amet leo id jetz gehts los ac gal ornare Kabinetpapier non wurscht Coopé de Truchtersheim Pellentesque Strasbourg (<strong>{{ title }}</strong>) ullamcorper chambon kartoffelsalad placerat leo turpis, Racing. <p>