{% extends 'base.html.twig' %}

{% block body %}

<h2>Exo 4</h2>
<form method="get" action="{{ path('exo4_process') }}">
    <input type="text" placeholder="Saisir un entier" name="num" />
    <input type="submit" value="Valider" />
</form>

{% include 'exo/exo4_sidebar.html.twig' %}

{% endblock %}